{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COMP90024 Team:69</title>
    <!-- <link href="http://a.amap.com/Loca/static/manual/example/style/demo.css" rel="stylesheet"> -->
    <style>
        html,
        body,
        #container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div id="container" class="container">
</div>
    <div class="title-banner">
        <div class="title-content">
            <p>The Analysis of the sin of Wrath</p>
            <p>based on tweets across the major cities in Australia</p>
        </div>
    </div>

<div class="info-hub">
    <div class="sub_window" style="width:auto">
            <div class="title">
                <p>Hate Speech Rate VS number of assault violence </p>
            </div>
                <div id="chart" class="chart" ></div>
    </div>
</div>

              
    

{% if cityInfo %}
    
{% for city in cityInfo %}
    
    
    {% if city.key == "melbourne" %}
    <script type="text/javascript">
    var melval = "{{city.value}}";
    </script>
    {% endif %}
   
   {% if city.key == "sydney" %}
   <script>
    var sydval = "{{city.value}}";
   </script>
   {% endif %}
   
   
   {% if city.key == "adelaide" %}
   <script>
    var adeval = "{{city.value}}";

   </script>
   {% endif %}

   {% if city.key == "brisbane" %}
   <script>
    var brival = "{{city.value}}";

   </script>
   {% endif %}
   
   {% if city.key == "perth" %}
   <script>
    var perval = "{{city.value}}";
   </script>
   {% endif %}

   {% endfor %}

 
 {% for city1 in cityTotal %}
 <script type="text/javascript">
    var melrate = "{{city1.melbourne}}";
    var sydrate = "{{city1.sydney}}";
    var aderate = "{{city1.adelaide}}";
    var brirate = "{{city1.brisbane}}";
    var perrate = "{{city1.perth}}";
   </script>
   
 {% endfor %}
 <script src="{% static 'js/district.js' %}"></script>

 <td>{{NswCount}}</td>
<script>
    var nswcount = "{{NswCount}}";
</script>
<td>{{VicCount}}</td>
<script>
    var viccount = "{{VicCount}}";
</script>
<td>{{SaCount}}</td>
<script>
    var sacount = "{{SaCount}}";
</script>
{% for cityOld in cityTotalOld %}
<td>{{cityOld.melbourne}}</td>
<script>
    var melold = "{{cityOld.melbourne}}";
</script>
<td> {{cityOld.sydney}}</td>
<script>
    var sydold = "{{cityOld.sydney}}";
</script>
<td> {{cityOld.adelaide}}</td>
<script>
    var adeold = "{{cityOld.adelaide}}";
</script>
 {% endfor %}
{%else%}
<hr>NO DATA</hr>



{% endif %}
<!--<script src="./script/loca.js"></script>-->
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/hover_window.css' %}"/>
<script src="https://webapi.amap.com/maps?v=1.4.12&key=393144ee0738b91f3e93b0c6d0c36562"></script>
<script src="http://webapi.amap.com/loca?v=1.2.0&key=393144ee0738b91f3e93b0c6d0c36562"></script>
<script src= "{% static 'js/infoshow.js' %}"></script>
<script src = "https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">
    google.charts.load('current', {packages: ['corechart']});     
 </script>
<!-- <script src=".\infoshow.js"></script> -->
<script src = "{% static 'js/district.js' %}"></script>

<script>
    var rcmWins =[];
    var map = Loca.create('container', {
        mapStyle: 'amap://styles/070f548e06917955722ed5b9ac9a06f2',
        zoom: 4.5,
        center: [145, -28]
    });

    var layer = Loca.visualLayer({
        eventSupport: true,    // selectStyle 配置需要开启 eventSupport: true
        container: map,
        type: 'point',
        shape: 'circle'
    });
    rcmWins = showRcmWin(map,districts)
   

    layer.setData(districts, {
        lnglat: 'center'
    });

    layer.setOptions({
        style: {
            radius: function(data){
                return 15+data.value.size/4
            },
            color: '#FDE834',
            // borderColor: '#c5001f',
            // borderWidth: 1.5,
            opacity: 0.7
        },
        
    });

    layer.render();

    var layer0 = Loca.visualLayer({
        eventSupport: true,    // selectStyle 配置需要开启 eventSupport: true
        container: map,
        type: 'point',
        shape: 'circle'
    });

    layer0.on('mousemove', function (ev) {
        // 事件类型
        var type = ev.type;
        // 当前元素的原始数据
        var rawData = ev.rawData;
        
        // 原始鼠标事件
        var originalEvent = ev.originalEvent;
        
        openInfoWin(map.getMap(), originalEvent, {
            'City': rawData.name,
            'Hate Speech Rate': rawData.rate
        });
    });

    layer0.on('mouseleave', function (ev) {
        closeInfoWin();
    });
    
    layer0.setData(districts, {
        lnglat: 'center'
    });

    layer0.setOptions({
        style: {
            radius:8,
            color: '#e2431e',
            opacity: 0.8
        },
        selectStyle: {
            radius: 10,
            color: 'white',
            opacity: 0.8
        }
    });

    layer0.render();


    function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            var nsw = parseFloat(nswcount);
            var vic = parseFloat(viccount);
            var sa = parseFloat(sacount);
            var syd =parseFloat(sydold);
            var mel = parseFloat(melold);
            var ade = parseFloat(adeold);
            data.addColumn('string', 'State');
            data.addColumn('number', 'Criminal Stastics from Aurin');
            data.addColumn('number', 'Hate Speech Percentage');
           
            data.addRows([
               ['New South Wales',  nsw, syd],
               ['Victoria',  vic, mel],
               ['South Australia',  sa,  ade]
            ]);
               
            // Set chart options
            var options = {
                hAxis: {
                    title: '',
                    textStyle: {color: 'white'}
                },
                vAxis: {
                    title: '',
                    textStyle: {color: 'white'}
                },
                series: {
                    0: { color: '#e2431e' },
                    1: { color: '#FDE834' },  
                }, 
                chartArea:{left:50,top:50,width:'55%',height:'65%'}, 
                'width':450,
                'height':350,
                pointsVisible: true,
                backgroundColor:"transparent",
                // colors: ['#f07f09']
                legend: {position: 'labeled', textStyle: {color: 'white', fontSize: 12}}
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);


</script>


</body>
</html>


        